if SHIELD_ONE_KEY 

config ZMK_KEYBOARD_NAME
    default "keytrackball"
    
config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_USB
    default y

endif

if SHIELD_ONE_KEY || SHIELD_TRACKBALL

config ZMK_SPLIT
    default y

config ZMK_BLE
    default y

endif
