if SHIELD_TDTSK_CENTRAL

	config ZMK_KEYBOARD_NAME
		default "tdtsk"

	config ZMK_SPLIT_ROLE_CENTRAL
		default y

endif

if SHIELD_TDTSK_CENTRAL || SHIELD_TDTSK_TRACKBALL 

	config ZMK_SPLIT
		default y

	config ZMK_BLE
		default y

endif
